/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
/* @import "https://unpkg.com/open-props/buttons.min.css"; */

/* ------------------------------------------------------------ */

$text-color: var(--gray-8);
body {
  font-family: var(--font-humanist);
  text-align: left;
  color: $text-color;
}

.container {
  width: 100vw;
  height: 100vh;
  z-index: var(--layer-1);

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;

  align-items: left;
  padding-left: 2rem;
  padding-top: 2rem;

  background-image: var(--gradient-29), var(--noise-4);
  filter: var(--noise-filter-4);
  background-size: cover;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

#category-title {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-8);
}

#output{
  h1 {
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-6);
  }
  height: 100;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* TODO add animation to changing enabled output */
  > :not(.enabled) {
    display: none;
  }
}

#input {
}

#onboarding-container {
  ul {
    
  }
  li {
    
  }
  #hint {
    position: fixed;
    bottom: 90px;
    right: 160px;
    font-size: var(--font-size-3);
  }
}

#add-category-button {
  position: fixed;
  right: 50px;
  bottom: 50px;

  width: 100px;
  max-height: 100px;
  border-radius: 50%;

  aspect-ratio: 1;
  background-color: var(--violet-4) !important;
  color: $text-color;

  font-size: var(--font-size-9);
  font-weight: var(--font-weight-9);
}
