/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: var(--font-humanist);
  text-align: center;
  color: var(--gray-8);
}

.container {
  width: 100vw;
  height: 100vh;
  z-index: var(--layer-1);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: var(--gradient-29), var(--noise-4);
  filter: var(--noise-filter-4);
  background-size: cover;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

#category-title {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-8);
}

#output{
  h1 {
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-6);
  }
  height: 100;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* TODO add animation to changing enabled output */
  > :not(.enabled) {
    display: none;
  }
}

#input {
}
