/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";


/* ------------------------------------------------------------ */

$text-color: var(--gray-8);
$add-category-color: var(--violet-4);

.hidden {
  display: none;
}

body {
  font-family: var(--font-humanist);
  text-align: left;
  color: $text-color;

  background-image: var(--gradient-29), var(--noise-4);
  filter: var(--noise-filter-4);
  background-size: cover;

  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  z-index: var(--layer-1);

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;

  align-items: left;
  padding-left: 2rem;
  padding-top: 2rem;

}

.modal {
  width: 80vw;
  height: 80vh;

  position: fixed;
  top: 10vh;
  right: 10vw;

  margin: auto;
  padding: 1em;
  border-radius: 4em;
  border: 3px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: "red";
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

#category-title {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-8);
}

#output{
  h1 {
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-6);
  }
  height: 100;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* TODO add animation to changing enabled output */
  > :not(.enabled) {
    display: none;
  }
}

#input {
}

#onboarding-container {
  ul { }
  li { }
  #hint {
    font-size: var(--font-size-3);
  }
  #add-category-button {
    width: 100px;
    max-height: 100px;
    border-radius: 50%;

    aspect-ratio: 1;
    background-color: var(--violet-4) !important;
    color: $text-color;

    font-size: var(--font-size-9);
    font-weight: var(--font-weight-9);
  }
  .row {
    margin-left: auto;
    margin-right: 1em;
  }
}

#add-category-modal {
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
